<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box1 {
        width: 250px;
        height: 250px;
        background-color: black;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="box1"></div>
    <script>
      window.onload = function () {
        let box = document.getElementsByClassName('box1')[0];
        box.onmousedown = function (ev) {
          let oEvent = ev || event;
          let divx = oEvent.clientX - box.offsetLeft;
          let dixy = oEvent.clientY - box.offsetTop;
          document.onmousemove = function (ev) {
            console.log('55');
            let oEvent = ev || event;
            console.log(oEvent);
            box.style.left = oEvent.clientX - divx + 'px';
            box.style.top = oEvent.clientY - dixy + 'px';
          };
          document.onmouseup = function () {
            document.onmousemove = null;
            document.onmouseup = null;
          };
        };
      };
    </script>
  </body>
</html>
